* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}



.container {
    width: 800px;
    margin: 150px auto;
    color: rgb(3, 3, 3);
    letter-spacing: 0.3px;
}

.bar {
    height: 1px;
    width: 100%;
    border-left: 2px solid #2196f3;
    border-right: 2px solid #2196f3;
    border-radius: 5px;
    margin: 20px 0;
    display: block;
    padding: 2px;
}

.fill {
    height: 1px;
    background-color: #2196f3;
    border-radius: 5px;
    display: block;
    box-shadow: 0 0 5px #03a9f4;
}

#skill {
    font-size: 3em;
	line-height: 1.35em;
    text-align: center center;
    padding-left: 0px;
}

#python {
    width: 90%;
    animation: python 2s;
}
#html {
    width: 70%;
    animation: html 2s;
}

#css {
    width: 65%;
    animation: css 2s;
}
#js {
    width: 80%;
    animation: js 2s;
}
#ds {
    width: 85%;
    animation: ds 2s;
}

@keyframes python {
    0% {
        width: 0;
    }
    100% {
        width: 90%;
    }
}
@keyframes html {
    0% {
        width: 0;
    }
    100% {
        width: 70%;
    }
}
@keyframes css {
    0% {
        width: 0;
    }
    100% {
        width: 65%;
    }
}

@keyframes js {
    0% {
        width: 0;
    }
    100% {
        width: 80%;
    }
}
@keyframes ds {
    0% {
        width: 0;
    }
    100% {
        width: 85%;
    }
}

